/* Style the video: 100% width and height to cover the entire window */
body, html {
  min-height: 100vh;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background-color: #000;
    z-index: 0;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    color: #e2e2e2;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.clock {
   /*clock*/
    text-align: center;
    color: white;
    padding-bottom: 10px;
    position: absolute;
    width: 400px; /*the image width*/
    height: auto; /*the image height*/
    left: 50%;
    top: 50%;
    margin-left: -200px; /*half the image width*/
    margin-top: -105px; /*half the image height*/    
    z-index: 7;
}

#time {
    font-size: 95px;
}

#date {
    font-size: 30px;
}

.brand-logo {
  z-index: 7;
}

.brand-logo img {
  width: 111px;
  height: auto;
}

.welcome > h2 {
  z-index: 100;
  clear: both;
}

#subBtn {
  display: none;
}


#name-input {
  font-size: 18pt;
  color: white;
}