#floatLeft {
    clear: both;
    float:left; 
    width: 40%;
    background-color: white;
    height: auto;
    padding: 0px 0px;
    overflow: auto;
}

#floatRight {
    float: right;
    background-color: white;
    height: auto;
    width: 40%;
    padding: 0px 0px;
    overflow: auto;
}

.brand-logo img {
    width: 111px;
    height: auto;
}

#article-div {
    padding: 5px;
    margin-bottom: 10px;
    border: solid;
    border-radius: 5%;
}

h1 {
    font-size: 40px;
}