body, html {
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif,;
  
  }

#floatLeft {
    float:left; 
    width: 45%;
    background-color: white;
    height: auto;
    padding: 0px 30px;
    overflow: auto;
}

#floatRight {
float: right;
    background-color: white;
    height: auto;
    width: 43%;
    padding: 0px 0px;
    overflow: auto;
}

    .container {
        width: 100%;
    }

    .navbar {

        text-align: center;
    }
    .hide {
        display: none;
    }