body, html {
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif,;
  
  }

  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background-color: #000;
}

#video-overlay {
    width: 100%;
    height: 100vh;
}

#floatLeft {
    clear: both;
    float:left; 
    width: 40%;
    background-color: white;
    height: auto;
    padding: 0px 0px;
    overflow: auto;
}

#floatRight {
    float: right;
    background-color: white;
    height: auto;
    width: 40%;
    padding: 0px 0px;
    overflow: auto;
}

.brand-logo img {
    width: 111px;
    height: auto;
}

#article-div {
    padding: 5px;
    margin-bottom: 10px;
    border: solid;
    border-radius: 5%;
}

h1 {
    font-size: 40px;
}

.dia-nav-logo {
    z-index: 1;
}