#floatLeft {
    
    background-color: white;
    height: 300px;
    
}

#floatRight {

    background-color: white;
    height: 300px;
    
    
}
#floatMiddle {
        
        background-color: white;
        height: 300px;
        
        
        
    }
    .container {
        width: 100%;
        clear: both;
    }

    .navbar {

        text-align: center;
    }