#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background-color: #000;
    z-index: 0;
}

#video-overlay {
    clear: both;
    width: 100%;
    height: 100vh;
}

body, html {
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif,;
  
  }

#goalsLeft {
    float: left;
    width: 45%;
    background-color: white;
    height: 300px;
    
}

#quotesMiddle {
    float: right;
    width: 45%;
    background-color: white;
    height: 300px;
    
    
}
#floatMiddle {
        
        background-color: white;
        height: 300px;
        
        
        
    }
    .container {
        width: 100%;
        clear: both;
    }

    nav {
        position: absolute;
        top: 0%;
    }

    .brand-logo {
        z-index: 7;
      }
      
      .brand-logo img {
        width: 111px;
        height: auto;
      }