#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background-color: #000;
    z-index: 0;
}

#video-overlay {
    width: 100%;
    height: 100vh;
}

body, html {
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif,;
  
  }

#floatLeft {
    
    background-color: white;
    height: 300px;
    
}

#floatRight {

    background-color: white;
    height: 300px;
    
    
}
#floatMiddle {
        
        background-color: white;
        height: 300px;
        
        
        
    }
    .container {
        width: 100%;
        clear: both;
    }

    .navbar {

        text-align: center;
    }