
.nav-wrapper {
    text-align: center;
    z-index: 10;
    font-family: 'Chicle', cursive;
}

#search {
    z-index: 10;
    
}

.container, .btn-small {
    font-family: 'Chicle', cursive;
}

#gifs {
    float: right;
    z-index: 15;
    width: 50%;
}

#youtube-videos {
    float: left;
    z-index: 15;
    width: 50%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background-color: #000;
    z-index: -1;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0%;
    z-index: 10;
}

img {
    border: solid;
    border-radius: 50%;
}