body, html {
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif,;
  
  }

  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    background-color: #000;
    z-index: 0;
}

#video-overlay {
    width: 100%;
    height: 100vh;
}

.nav-wrapper {
    z-index: 10;
    
}

.brand-logo {
    z-index: 7;
  }
  
.brand-logo img {
    width: 111px;
    height: auto;
  }

#search {
    position: relative;
    z-index: 1000;
    
}

#gifs {
    float: right;
    z-index: 15;
    width: 50%;
}

#youtube-videos {
    float: left;
    z-index: 15;
    width: 50%;
}

main {
    flex: 1 0 auto;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0%;
    z-index: 10;
}

img {
    height: auto;
    width: 300px;
}